{{define "credentials"}}
    {{template "start" .}}
    <header>
        <h1>Credentials</h1>
    </header>
    <form class="filters" method="get" action="/admin/credentials">
        {{template "scopeFilters" .}}
        <button type="submit">Search</button>
        <a href="/admin/credentials" role="button" class="secondary outline">Reset</a>
    </form>
    <figure>
        <table class="striped">
            <thead>
                <tr>
                    <th>Application</th>
                    <th>Subject</th>
                    <th>Created</th>
                    <th>Last used</th>
                </tr>
            </thead>
            <tbody>
                {{range .Credentials}}
                    <tr>
                        <td><code>{{.Application}}</code></td>
                        <td class="subject">
                            <a href="{{credentialURL .ID}}">{{.Subject}}</a>
                        </td>
                        <td><time>{{date .CreatedAt}}</time></td>
                        <td><time>{{optionalDate .UsedAt}}</time></td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="4">No credentials found. <a href="/admin/credentials">Return to the first page</a>.</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </figure>
    {{template "pagination" .}}
    {{template "end" .}}
{{end}}
